html{
    font-family: "Open Sans", sans-serif;
}

body {
    background-image: url(../Assets/Images/AchtergorndMercySite.png);
    background-position-y:top;
    background-position-x:center;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
}

h1{
    font-weight: bold;
    margin: 0px;
    font-family:Verdana, Arial, Helvetica, "PT Sans Caption", sans-serif;
}

h2{
    text-align:center;
    background-color: #f5dd6f;
    width: 80%;
    padding:0px;
    margin:auto;
    border:20px solid #f5dd6f;
    border-radius:20px;
}

h3{
    font-style:italic;

}

header{
    background-color:#ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#Logo a{
    color: #000000;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#NavigatieBalk{
    text-align:center;
    margin-top: 5px;
    border-top: 3px;
    padding:5px;
    padding-bottom:10px;
    max-width: 500px;
}

.MenuKnop{
    font-size:20px;
    border: none;
    padding: 7px;
    text-decoration:none;
    color:black;
    font-weight: bold;
}

.MercyProfiel{
    background-color:#ACACAC;
    width:40%;
    padding:20px;
    font-style:italic;
    float: right;
    margin-top: 20px;
}

.MercyProfielFoto{
    padding:20px;
    width:auto;
}

.InfoBoxTitels{
    background-color:#f5dd6f;
    padding: 5px;
    text-align:right;
    border: 5px solid #f5dd6f;
    border-radius: 5px;
}

.AlgemeneInfo{
    width:50%;
    background-color:#ACACAC;
   padding: 20px;   
   font-style:italic;
    
    margin-top: 20px;
    float:left;
}

.Lore{
  
    background-color:#ACACAC;
   padding: 20px;   
   font-style:italic;
    
    margin-top: 20px;
    float:left;
}
.FotoUprising{
    float:right;
    text-align:center;
    background-color: #808080;
    border: 5px solid #808080; 
    margin: 10px;  
}

.TextUprising{
    float:left;
    width:60%;
    margin-bottom: 10px;
    margin-right: 70px;
}

.MercyFullMercy{
        float:right;
    text-align:center;
    background-color: #808080;
    border: 5px solid #808080;
    margin: 5px;
}
.PostOverwatch{
      float:left;
    width:60%;
    margin-bottom: 10px;
    margin-right: 70px;
}

.MercyPortaitPhoto{
    float:right;
    border: 5px solid #808080;
}

#IntroQuote{
    text-align:center
}

#Intro{
}

#LinksNavigatie{
    margin:auto;
  
}

.IntroSkins{
       margin:auto;
    background-color:#ACACAC;
   padding: 20px;   
   font-style:italic;
    
    margin-top: 20px;
   text-align:center;
}

#AllSkinsTable{
    text-align:center;
    background-color:#ACACAC;
    margin:auto;
    margin-top: 10px;
    border: solid #ACACAC 7px;
     font-style:italic;
    
    border:none;
}

.SkinsTableTitle{
    background-color:#808080;
    text-align:center;
    font-weight:bold;
}

.AbilityName{
  text-align:center;
  padding:7px;
  font-weight:bold;
  
}

.AbilityTable{
  background-color:#ACACAC;
  border: 1px solid black;
  border-collapse:collapse;
  padding:5px;
  padding-bottom:10px;
  padding-top:10px;
  
}

#IntroAbilities{
    margin:auto;
    background-color:#ACACAC;
   padding: 20px;   
   font-style:italic;
    
    margin-top: 20px;
   text-align:center;
   margin-bottom: 10px;
}

#AbilityVideo{
  width:300px;
  padding-left:0px;
}

#MercyAbilityVideo{
   margin:auto;
    background-color:#ACACAC;
   padding: 20px;   
   font-style:italic;
    
    margin-top: 20px;
   text-align:center;
   margin-bottom: 10px;
   
}

#AbilityVideoTitel{
  float:left;
    font-weight:bold;
    padding:0px;
}

.Currency{
    
     background-color:#ACACAC;
     padding:15px;
     margin-top:10px;
     margin-bottom:10px;
}

.CurrencyTable{
  text-align:center;
    border:solid 1px black;
    border-collapse:collapse;
    background-color: #808080;
     padding:3px;
}

#CurrencyRare{
  text-align: center;
  color:cyan;
  border:solid 1px black;
  border-collapse:collapse;
   padding:3px;
}

#CurrencyEpic{
  text-align: center;
  border-collapse:collapse;
  border:solid 1px black;
  color:purple;
   padding:3px;
  background-color: #808080;
}

#CurrencyLegendary{
  text-align: center;
  border:solid 1px black;
  border-collapse:collapse;
  color:gold;
  background-color: #808080;
   padding:3px;
}

.wikitable{
  border:solid 1px black;
  border-collapse:collapse;
  background-color: #808080;
  padding:3px;
}

#FigCaptionMercyProfielfFoto{
    text-align:center;
    

}

#TriviaList{
   background-color:#ACACAC;
   font-style:italic;
    
    padding: 5px;
    margin: auto;
    margin-top: 10px;
   
}

.TriviaListText{
  padding:5px;

}

#HalloweenFoto{
 float:right;
    text-align:center;
    background-color: #808080;
    border: 5px solid #808080; 
    margin: 10px;  
    text-align:center;
    
}

#TriviaListZelf{
  float:left;
   width:65%;
   background-color:#ACACAC;
    
   
}

 #VoiceLine1{
   margin:2px;
 }

#SocialMediaLinks{
  text-align:center
}